body {
	margin: 0px;
	overflow: hidden;
	/* Disallow selection of text */
	-moz-user-select: none;
	-webkit-user-select: none;
}

/* DEBUG */
/*
.red {
	background-color: #900;
}
.blue {
	background-color: #009;
}
.green {
	background-color: #090;
}
.yellow {
	background-color: #909;
}
*/

/* ================== MAIN TABLE ================== */

/*
	Ugh, tables. 
	I'll make this responsive div's later. 
	If I ever find the time. 
*/
#table {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
}

td {
	padding: 15px;
	/* Fixes weird valign for images */
	vertical-align: top;
}

td.c100-100 {
	width: 100%;
	height: 100%;
}

td.c50-100 {
	width: 50%;
	height: 100%;
}

td.c100-50 {
	width: 100%;
	height: 50%;
}

td.c50-50 {
	width: 50%;
	height: 50%;
}

td img {
	display: none;
	margin-left: auto;
	margin-right: auto;
}

img {
	padding: 0px;
	margin: 0px;
}

.one td {
	vertical-align: middle;
}

.two td {
	vertical-align: middle;
	padding: 10px;
}

.two p {
	text-align: center;
}

.three td > ul {
	width: 70%;
	margin: auto;
}

.three td {
	vertical-align: middle;
}

.three td.c50-100 {
	vertical-align: middle;
}


.four td {
	vertical-align: middle;
}

ul {
	list-style: disc;
	list-style-position: outside;
}

ol {
	list-style: decimal;
	list-style-position: outside;
}

/* ================== OTHER ELEMENTS ================== */

#footer {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 9%;
	width: 100%;
	text-align: right;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.4);
}

#footerCts {
	padding: 10px;
}

/* 
	The #test region is used for resizing text 
	dynamically. DO NOT CHANGE! 
*/
#test {
	visibility: hidden;
	width: auto;
	height: auto;
	position: fixed;
	vertical-align: middle;
	top: 10000;
	left: 10000;
	z-index: -1000;
	padding: 15px; /* XXX: Must match td! */
}

