
body {
	color: #ffdd22;
	background-color: #181818;
	font-family: helvetica;
}

#table {
	font-family: 'Ubuntu Light';
}

ul, ol {
	margin-left: 1em;
	margin-right: 1em;
}

li {
	margin-bottom: 0.5em;
}

li ul, li ol {
	margin-top: 0.5em;
	list-style: circle;
}

li ol {
	list-style-type: upper-alpha;
}

li li {
	font-size: smaller;
}

p {
	padding: 0px;
	margin: 0px;
}

p + p { padding: 1em 0px 0px 0px; }

#footer {
	color: #f0f0f0;
}
