/* Test region used for resizing text dynamically.
   DO NOT CHANGE */
#test {
	visibility: hidden;
	width: auto;
	height: auto;
	position: fixed;
}

/* All other styles */

body {
	margin: 0px;
	color: #111;
	background-color: #fff;
	font-family: helvetica;
}

ul, ol {
	list-style-position: outside;
	margin-left: 1em;
	margin-right: 1em;
}

li {
	margin-bottom: 0.5em;
}

p {
	padding: 0px;
	margin: 0px;
}

img {
	padding: 0px;
	margin: 0px;
}

#title {
	font-size: 200%;
	text-align: center;
	margin: 0px;
	padding: 0px;
	z-index: 1;
	color: #111;
}

#header hr {
	border: 1px solid #111;
	padding: 0px;
	margin: 15px 8% 15px 8%;
}

#footer {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 9%;
	width: 100%;
	text-align: right;
	z-index: 1;
	font-size: 130%;
	color: #333;
}

#footerCts {
	padding: 10px;
}

#page { 
	float: left;
}

#slideWrap {
}

#currentSlide {
	top: 500;
	position: static;
	font-size: 100%;
	margin: 0px 15px 0px 15px;
	padding: 0px;
}

#currentSlide em {
	color: #e75522;
}

#currentSlide strong {
	color: #2a63a3;
}

