#title {
	text-align: center;
	margin: 0px;
	padding: 0px;
	border: 1px solid red;
	z-index: 1;
	color: #f0f0f0;
}

#footer {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 9%;
	width: 100%;
	text-align: right;
	z-index: 1;
	font-size: 0.9em;
	color: #f0f0f0;
}

#footerCts {
	padding: 10px;
}

#page { 
	float: left;
}

body {
	margin: 0px;
	font-size: 1.3em;
	color: #93e690; 
	background-color: #080808;
}

.presentation {
	border: 2px solid #111;
	font-size: 1.3em;
}

.presentation em {
	color: #fcb666;
}

.presentation strong {
	color: #50d6de;
}

li {
	margin-top: 30px;
	margin-bottom: 10px;
}

