/* Test region used for resizing text dynamically.
   DO NOT CHANGE */
#test {
	visibility: hidden;
	width: auto;
	height: auto;
	position: fixed;
}

#title {
	font-size: 200%;
	text-align: center;
	margin: 0px;
	padding: 0px;
	z-index: 1;
	color: #f0f0f0;
}

#header hr {
	border: 1px solid #fff;
	padding: 0px;
	margin: 5px 0px 0px 0px;
}

#footer {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 9%;
	width: 100%;
	text-align: right;
	z-index: 1;
	font-size: 130%;
	color: #f0f0f0;
}

#footerCts {
	padding: 10px;
}

#page { 
	float: left;
}

body {
	margin: 0px;
	color: #93e690; 
	background-color: #080808;
}

#currentSlide {
	font-size: 100%;
	margin: 0px 15px 0px 15px;
	padding: 0px;
}

#currentSlide em {
	color: #fcb666;
}

#currentSlide strong {
	color: #50d6de;
}

ul, ol {
	list-style-position: outside;
	margin-left: 1em;
	margin-right: 1em;
	/*margin-left: 50px;*/
	/*padding: 0px;*/
}

li {
	/*margin-top: 30px;
	margin-bottom: 10px;*/
}

